# Data Types and Structures Questions

In [ ]:
#Q1.What are data structures, and why are they important?
#Ans.# What is a Dictionary?
# In Python dictionaries are written with curly brackets, and they have keys and values.
# A dictionary is a collection which is ordered, changeable and indexed.
# A dictionary in Python is a collection of key-value pairs.
# >Keys are unique and immutable (e.g., strings, numbers, tuples)
# >Values can be of any type
#Data structures are important in Python because they optimize the storage, retrieval, and manipulation of data, improving performance, memory usage, and code readability.

In [ ]:
#Q2. Explain the difference between mutable and immutable data types with examples.
#Ans. Mutable data types can be changed after creation (e.g., lists, dictionaries, sets), while immutable data types cannot be modified once created (e.g., tuples, strings, integers).

In [ ]:
# #Q3. What are the main differences between lists and tuples in Python.
# #Ans. The main differences between lists and tuples in Python are:
# Mutability:
# Lists are mutable (can be changed after creation).
# Tuples are immutable (cannot be modified once created).
# Syntax:
# Lists use square brackets: [1, 2, 3].
# Tuples use parentheses: (1, 2, 3).
# Performance:
# Tuples are generally faster than lists due to their immutability.
# Use cases:
# Use lists when you need to modify the data.
# Use tuples for fixed, unchangeable data.

In [ ]:
#Q4. Describe how dictionaries store data.
#Ans.Dictionaries in Python store data as key-value pairs. Each key is unique, and it maps to a specific value. Data is accessed using the key, providing fast lookups.

In [ ]:
#Q5.   Why might you use a set instead of a list in Python.
#Ans. You might use a set instead of a list in Python for these reasons:

# Uniqueness: Sets automatically remove duplicates, ensuring that only unique elements are stored.
# Example: {1, 2, 3} won’t have repeated values like [1, 2, 2, 3].
# Faster Membership Testing: Checking if an element exists in a set is much faster (average O(1) time complexity) than in a list (O(n) time complexity).
# Example: if 3 in my_set:
# Set Operations: Sets support efficient mathematical operations like union, intersection, and difference.
# Example: set1 & set2 for intersection.
# Unordered: If order doesn't matter and you only care about membership or uniqueness, sets can be a cleaner, more efficient choice.

In [ ]:
#Q6. What is a string in Python, and how is it different from a list.
#Ans. A string in Python is an immutable sequence of characters, used for text, while a list is a mutable collection that can store any type of data, including other lists or strings.

In [ ]:
#Q7.  How do tuples ensure data integrity in Python.
#Ans. Tuples ensure data integrity in Python by being immutable, meaning their elements cannot be altered once created, protecting the data from accidental modifications.

In [ ]:
#8.What is a hash table, and how does it relate to dictionaries in Python.
#Ans.  hash table is a data structure that stores key-value pairs using a hash function for fast lookups. In Python, dictionaries are implemented as hash tables, allowing for efficient key-based access to values.

In [ ]:
#Q9. Can lists contain different data types in Python.
# Ans. Yes, lists in Python can contain different data types, such as integers, strings, and objects, all in the same list.

In [ ]:
#10. Explain why strings are immutable in Python.
# Ans. Strings are immutable in Python to ensure efficiency, security, and performance. Since strings are frequently used and can be large, making them immutable allows Python to optimize memory usage by reusing string objects, avoiding unnecessary copies. It also ensures that string data remains unchanged, preventing unintended side effects in code.

In [ ]:
#Q11.What advantages do dictionaries offer over lists for certain tasks.
# Ans.dictionaries are great when you need fast access and a meaningful mapping between data, while lists are better for ordered collections.

In [2]:
#Q12.  Describe a scenario where using a tuple would be preferable over a list.
# Ans. A tuple is preferable over a list when you need immutable data that should not change throughout the program. For example:

# Scenario: Storing coordinates for a location, like (latitude, longitude). You want to ensure the values remain constant because modifying coordinates could lead to incorrect data or bugs.
# location = (40.7128, -74.0060)  # New York City coordinates
# Since the tuple is immutable, the coordinates can't accidentally be modified, ensuring data integrity.

In [ ]:
#Q13. How do sets handle duplicate values in Python.
#Ans.sets automatically eliminate duplicates in Python. If you try to add a duplicate value to a set, it will not be added again, ensuring that each element in the set is unique.
# Example:
# python
# Copy
# my_set = {1, 2, 3, 3, 4}
# print(my_set)  # Output: {1, 2, 3, 4}  # Duplicates (3) are removed

In [ ]:
#Q14. How does the “in” keyword work differently for lists and dictionaries3
#Ans. For dictionaries, in is used to check the existence of a key, while in lists, it's used to check if an element exists.

In [ ]:
#Q15. Can you modify the elements of a tuple? Explain why or why not.
# Ans. No, you cannot modify the elements of a tuple in Python because tuples are immutable. Once a tuple is created, its contents cannot be changed, added, or removed.

In [ ]:
#16. What is a nested dictionary, and give an example of its use case.
# Ans.A nested dictionary is a dictionary where the values themselves can be another dictionary, allowing for a hierarchical structure. This is useful when you need to represent complex data that involves multiple levels of keys and values.
#Consider a scenario where you need to store information about students in a school, including their grades in different subjects.
#Example:
# students = {
#     "Alice": {"math": 90, "science": 85, "history": 88},
#     "Bob": {"math": 78, "science": 82, "history": 91},
#     "Charlie": {"math": 92, "science": 89, "history": 84}
# }

# # Accessing a student's grade in a specific subject
# print(students["Alice"]["math"])  # Output: 90
# In this example, the outer dictionary holds student names as keys, and the values are dictionaries containing the student's grades in different subjects. This structure allows you to store and easily retrieve complex, multi-level data.

In [ ]:
#Q17.Describe the time complexity of accessing elements in a dictionary.
#Ans. Accessing elements in a Python dictionary has an average time complexity of O(1) due to its use of hash tables for fast key lookups.

In [ ]:
#Q18.In what situations are lists preferred over dictionaries3
#Ans.Lists are preferred over dictionaries when:
# Order matters: Lists maintain the order of elements, making them ideal when the sequence of items is important.
# Indexed access: If you need to access elements by their position (index) rather than a unique key.
# Simple collections: When you just need a collection of items, without the need for key-value pairs, like storing numbers or strings in sequence.
# Iterating over elements: If you need to iterate over all elements in a specific order.

In [ ]:
#Q19. Why are dictionaries considered unordered, and how does that affect data retrieval.
#Ans. Dictionaries are considered unordered (prior to Python 3.7) because the order of key-value pairs is not guaranteed. From Python 3.7 onwards, they maintain insertion order, but this doesn't affect retrieval speed, which remains O(1).

In [ ]:
#Q20.Explain the difference between a list and a dictionary in terms of data retrieval.
#Ans. The main difference between a list and a dictionary in terms of data retrieval is:
# List: Data is accessed by index (position), and elements are retrieved in a sequential order.
# Example: my_list[2] retrieves the third element.
# Dictionary: Data is accessed by key, and retrieval is based on the key-value pair.
# Example: my_dict["key"] retrieves the value associated with "key".
# In short, lists use indices for access, while dictionaries use keys for fast, direct access to values.

# Practical Questions

In [3]:
#1.Write a code to create a string with your name and print it.
print("Bhawna")

Bhawna

In [5]:
#2.  Write a code to find the length of the string "Hello World".
string="Hello world"
print(len(string))

11

In [6]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
string="python programming"
Slice = string[0:3]
print(Slice)

pyt

In [7]:
#4. Write a code to convert the string "hello" to uppercase.
string="hello"
print(string.upper())

HELLO

In [8]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
string="I like apple"
print(string.replace("apple","orange"))

I like orange

In [9]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [10]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [11]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [13]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a', 'b','c','d']
print(list[1])

b

In [14]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [15]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [17]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple=('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [18]:
#13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple=(10,20,5,15)
print(min(tuple))

5

In [20]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple=('Dog','cat','rabbit')
print(tuple.index('cat'))

1

In [28]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits=('banana','apple','orange')
if "kiwi" in fruits:
  print("Kiwi in fruits")
else :
  print("Kiwi is not fruits")

Kiwi is not fruits

In [5]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set={'a','b','c'}
print(set)

{'b', 'c', 'a'}

In [6]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set={1,2,3,4,5}
set.clear()
print(set)

set()

In [7]:
#18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [8]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1,2,3}
set2={3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [9]:
#20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1,2,3}
set2={2,3,4}
print(set1.intersection(set2))

{2, 3}

In [10]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict={"name":"Bhawna","age":20,"city":"Delhi"}
print(dict)

{'name': 'Bhawna', 'age': 20, 'city': 'Delhi'}

In [13]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict={'name':'John','age':25}
dict["country"]="USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [14]:
#23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict={'name':'Alice','age':30}
print(dict["name"])

Alice

In [15]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict={'name':'Bob','age':22,'city':'New York'}
dict.pop("age")
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [16]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict={'name':'Alice','city':'Paris'}
if "city" in dict:
  print("City exists")
else:
  print("City does not exist")

City exists

In [17]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
list=[1,2,3,4]
print(list)
tuple=(1,2,3,4)
print(tuple)
dict={"name":"Bhawna","age":20,"city":"Delhi"}
print(dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Bhawna', 'age': 20, 'city': 'Delhi'}

In [18]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print  the result.(replaced).
import random
list=[]
for i in range(5):
  list.append(random.randint(1,100))
list.sort()
print(list)

[26, 48, 61, 83, 86]

In [19]:
#28.Write a code to create a list with strings and print the element at the third index.
list=["apple","banana","orange","kiwi"]
print(list[2])

orange

In [20]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1={"name":"Bhawna","age":20}
dict2={"city":"Delhi","country":"India"}
dict1.update(dict2)
print(dict1)

{'name': 'Bhawna', 'age': 20, 'city': 'Delhi', 'country': 'India'}

In [22]:
#30. Write a code to convert a list of strings into a set.
list=["apple","banana","orange","kiwi"]
set=(list)
print(set)

['apple', 'banana', 'orange', 'kiwi']